*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #ebecf2;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #039dff;
}

.underline-silver {
  margin: 0 auto 40px;
  width: 50%;
  height: 4px;
  background-color: silver;
}

.blue-text {
  color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-secondary:hover {
  background-color: #039dff;
  border-color: #039dff;
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .aboutus-hover {
  transition: color 0.4s;
}
.aboutus .aboutus-hover:hover {
  color: #039dff;
}

.aboutus-hero {
  position: relative;
  background-image: url(/IMG/procesor-small.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  z-index: 5;
}
.aboutus-hero .aboutus-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -11;
}
.aboutus-hero .aboutus-hero-item {
  margin: 10px 0;
}
.aboutus-hero .aboutus-hero-item i {
  font-size: 36px;
}
.aboutus-hero .aboutus-hero-item .aboutus-hero-title {
  font-size: 24px;
}

.portfolio .carousel-item {
  position: realtive;
  height: 600px;
}
.portfolio .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.portfolio .carousel-indicators {
  padding-bottom: 20px;
}

.specification li {
  list-style: none;
}

nav {
  text-transform: uppercase;
  z-index: 16;
  transition: background-color 2s;
}
nav .navbar-brand {
  color: #fff;
  font-weight: bold;
}
nav .navbar-brand:hover {
  color: #039dff;
}
nav .nav-link,
nav i {
  color: #fff;
}
nav .nav-link:hover {
  color: #039dff;
}
nav .fa-bars {
  padding: 10px;
}
nav span {
  color: #039dff;
}

.navbar .nav-link.active {
  color: #039dff;
}

header {
  color: #fff;
}
header h1 {
  font-size: 30px;
  text-transform: uppercase;
}
header p {
  font-size: 14px;
}
header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url(/IMG/PlayStationSmall.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}
header .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  text-align: center;
  z-index: 5;
}
header .btn-outline-light {
  text-transform: uppercase;
}
header .fa-chevron-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}

.prices h3 {
  color: #039dff;
  text-transform: uppercase;
}
.prices span {
  font-weight: bold;
}
.prices .price-tag {
  font-weight: bold;
  font-size: 22px;
}
.prices .more-info,
.prices .text-muted {
  text-align: center;
}
.prices .more-info a {
  text-decoration: none;
}
.prices .price-box {
  padding: 15px;
  box-shadow: 6px 5px 5px 5px rgb(109, 104, 104);
  transition: transform ease-in-out 0.4s;
}
.prices .price-box:hover {
  transform: scale(1.05);
}

.team .card-footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.team .card-img-top {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: 42px;
  }
  header p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  nav {
    height: 82px;
  }
  .aboutus-hero {
    background-image: url(/IMG/procesor-large.jpg);
  }
  .price-box p,
  .more-info p,
  .text-muted p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  header .hero-img {
    background-image: url(/IMG/PlayStationLarge.jpg);
  }
}/*# sourceMappingURL=style.css.map */