@import 'colors';
@import '_animate';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 82px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}

.underline-silver {
	margin: 0 auto 40px;
	width: 50%;
	height: 4px;
	background-color: $under-color;
}

.blue-text {
	color: $main-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.btn-secondary:hover {
	background-color: $main-color;
	border-color: $main-color;
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 14px;
	}
	.aboutus-hover {
		transition: color 0.4s;
	}
	.aboutus-hover:hover {
		color: $main-color;
	}
}

.aboutus-hero {
	position: relative;
	background-image: url('./IMG/procesor-small.jpg');
	background-position: center;
	background-size: cover;
	color: $white-color;
	z-index: 0111;
	.aboutus-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -11;
	}
	.aboutus-hero-item {
		margin: 10px 0;
		i {
			font-size: 36px;
		}
		.aboutus-hero-title {
			font-size: 24px;
		}
	}
}

.portfolio {
	.carousel-item {
		position: relative;
		height: 600px;
	}
	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		padding: 40px 0;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.carousel-indicators {
		padding-bottom: 20px;
	}
}

.specification {
	li {
		list-style: none;
	}
}

nav {
	text-transform: uppercase;
	z-index: 16;
	transition: background-color 2s;
	.navbar-brand {
		color: $white-color;
		font-weight: bold;
	}
	.navbar-brand:hover {
		color: $main-color;
	}
	.nav-link,
	i {
		color: $white-color;
	}
	.nav-link:hover {
		color: $main-color;
	}
	.fa-bars {
		padding: 10px;
	}
	span {
		color: $main-color;
	}
}

.navbar {
	.nav-link.active {
		color: $main-color;
	}
}

header {
	color: $white-color;
	h1 {
		font-size: 30px;
		text-transform: uppercase;
	}
	p {
		font-size: 14px;
	}
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('./IMG/PlayStationSmall.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -10;
	}
	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 10px;
		text-align: center;
		z-index: 5;
	}
	.btn-outline-light {
		text-transform: uppercase;
	}
	.fa-chevron-down {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 30px;
		color: $white-color;
	}
}

.prices {
	h3 {
		color: $main-color;
		text-transform: uppercase;
	}
	span {
		font-weight: bold;
	}
	.price-tag {
		font-weight: bold;
		font-size: 22px;
	}
	.more-info,
	.text-muted {
		text-align: center;
	}
	.more-info a {
		text-decoration: none;
	}
	.price-box {
		padding: 15px;
		box-shadow: 6px 5px 5px 5px rgb(109, 104, 104);
		transition: transform ease-in-out 0.4s;
	}
	.price-box:hover {
		transform: scale(1.05);
	}
}

.team {
	position: relative;
	background-image: url('./IMG/team/room-2192484_1920.jpg');
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
	h2 {
		color: $bg-color;
	}
	.team-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -5;
	}
	.card {
		transition: transform ease-in-out 0.4s;
		img {
			height: 300px;
			object-fit: cover;
		}
		i {
			padding: 10px;
		}
	}
	.card:hover {
		transform: scale(0.9);
	}
	.card-body {
		height: 160px;
	}
	.card-title {
		margin-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
	}
	.card-text {
		p {
			font-size: 16px;
		}
	}
}

.achivments {
	i {
		padding: 10px;
		font-size: 48px;
		color: $white-color;
		text-shadow: 0 0 2px #000;
	}
	.achivments-list {
		background-color: $bg-color;
		padding: 20px 0;
	}
	.achivment-number {
		font-size: 22px;
	}
	.achivment-text {
		font-size: 13px;
		text-transform: uppercase;
	}
}

.contact {
	position: relative;
	background-image: url('./IMG/skyline-1869214_1920.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;
	color: $white-color;
	.contact-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(6, 9, 49, 0.8);
		z-index: -5;
	}
	.contact-us {
		align-items: center;
		display: flex;
	}
	.contact-item {
		h3 {
			text-transform: uppercase;
			margin-bottom: 15px;
			letter-spacing: 2px;
		}
		.social-media {
			a {
				font-size: 30px;
				padding: 10px;
				transition: color 0.2s;
				color: $white-color;
			}
			a:hover {
				color: $main-color;
			}
		}
	}
}

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 36px;
		}
		p {
			font-size: 16px;
		}
	}
	.card-text {
		font-size: 12px;
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 42px;
		}
		p {
			font-size: 20px;
		}
	}
	.card-text {
		font-size: 14px;
	}
}

@media (min-width: 992px) {
	nav {
		height: 82px;
	}
	.aboutus-hero {
		background-image: url('./IMG/procesor-large.jpg');
	}
	.price-box,
	.more-info,
	.text-muted {
		p {
			font-size: 18px;
		}
	}
}

@media (min-width: 1200px) {
	header {
		.hero-img {
			background-image: url('./IMG/PlayStationLarge.jpg');
		}
	}
}
